<h1 class="text-center text-mishmash">Login</h1>
<hr class="bg-mishmash w-50 hr-2" />
<form method="post" action="/Users/Login" class="mx-auto w-50">
    <div class="form-group">
        <label class="text-mishmash">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username...">
    </div>
    <div class="form-group">
        <label class="text-mishmash">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password...">
    </div>
    <div class="button-holder mt-4 d-flex justify-content-center">
        <button type="submit" class="btn bg-mishmash text-white">Login</button>
    </div>
</form>