#innerDiv {
    border: 2px solid red;
    /*margin: auto;*/
    /*width: 50%;*/
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.dottedDiv {
    border: 2px dotted blueviolet;
    padding: 20px;
    /*margin: auto;*/
}

input {
    display: block;
}

input[type="radio"] {
    display: inline-block;
}

form {
    display: inline-block;
}

form input[type="submit"] {
    background-color: black;
    color: white;
    width: 10pt;
    height: 5px;
}

form input[type="submit"] {
        background-color: black;
        color: white;
        width: 50pt;
        height: 50pt;
}
