<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>By The Cake</h1>
<h3>Enjoy our awesome cakes</h3>
<h3 class="hello">Welcome {userName}</h3>
<hr/>
<ul>
    <li>
        <a href="/">Home</a>
        <ol type="1">
            <li><a href="/ourCakes">Our Cakes</a></li>
            <li><a href="/ourStores">Our Stores</a></li>
        </ol>
    </li>
    <li><a href="/myProfile">My Profile</a></li>
    <li><a href="/addCake">Add Cake</a></li>
    <li><a href="/browseCakes">Browse Cakes</a></li>
    <li><a href="/aboutUs">About Us</a></li>
</ul>

<a href="/login">Login</a>
<a href="/register">Register</a>
<a href="/logout">Logout</a>
</body>
</html>