<div class="row justify-content-center">
    <div class="container text-center">
        <br/>
        <div class="jumbotron">
            <h1 class="display-4">Hello, guest!</h1>
            <p class="lead">Please login in our system in order to use it.</p>
            <hr class="my-4">
            <p>If you don't have a registration yet, you can register <span><a href="/Users/Register">here</a></span></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/Users/Login" role="button">Login</a>
            </p>
        </div>
    </div>
</div>