<h1 class="text-center text-mishmash">Create Channel</h1>
<hr class="bg-mishmash w-50 hr-2" />
<form method="post" action="/Channels/Create" class="mx-auto w-50">
    <div class="form-group">
        <label class="text-mishmash">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name...">
    </div>

    <div class="form-group">
        <label for="description" class="text-mishmash">Description</label>
        <textarea name="description" class="form-control" id="description" placeholder="Description..."></textarea>
    </div>

    <div class="form-group">
        <label for="tags" class="text-mishmash text-center">Tags</label>
        <input type="text" class="form-control" id="tags" placeholder="Tag1, Tag2, Tag3..." name="tags">
    </div>
    <div class="container-fluid">
        <h1 class="text-center text-mishmash">Channel Type</h1>
        <hr class="bg-mishmash w-50 hr-2" />
    </div>
    <div class="row justify-content-around">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="Game" value="Game">
            <label class="form-check-label text-mishmash" for="Game">Game</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="Motivation" value="Motivation">
            <label class="form-check-label text-mishmash" for="Motivation">Motivation</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="Lessons" value="Lessons">
            <label class="form-check-label text-mishmash" for="Lessons">Lessons</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="Radio" value="Radio">
            <label class="form-check-label text-mishmash" for="Radio">Radio</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="Other" value="Other">
            <label class="form-check-label text-mishmash" for="Other">Other</label>
        </div>
    </div>
    <hr class="bg-mishmash w-50 hr-2" />
    <div class="button-holder mt-4 d-flex justify-content-center">
        <button type="submit" class="btn bg-mishmash text-white">Create</button>
    </div>
</form>