<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>IRunes</h1>
<ul>
    <li><a href="/">Home</a></li>    
    <li><a href="/Albums/All">Albums</a></li>
    <li><a href="/Users/Logout">Logout</a></li>
</ul>
<hr />
<img src="{albumCoverUrl}" alt="cover"/>
<div>
    <h4>Name : {albumName}</h4>
</div>
<div>
    <h4>Price : {albumPrice}</h4>
</div>
<h3>Tracks</h3>
<hr/>
<div>
    <a href="Tracks/Create?albumId={albumId}">Create Track</a>
</div>
<hr/>
<div>
    {tracks}
</div>
<footer>Copyright &copy; Sanity Design Studios. All rights reserved.</footer>
</body>
</html>