<h1 class="text-center text-success">Create Album</h1>
<form method="post" class="container">
    <hr style="height: 2px;" class="bg-success" />
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" name="albumName" required placeholder="Name..." class="form-control bg-white" id="exampleInputName" />
    </div>
    <div class="form-group">
        <label for="exampleInputCover">Cover</label>
        <input type="url" name="coverUrl" required placeholder="Cover..." class="form-control bg-white" id="exampleInputCover" />
    </div>
    <hr style="height: 2px; margin-top: 40px;" class="bg-success" />
    <div class="text-center container">
        <div class="row">
            <div class="col-md-2"></div>
            <input type="submit" value="Create" class="btn btn-success col-md-2" />
            <div class="col-md-4"></div>
            <a href="/Albums/All" class="btn btn-success col-md-2">Back to All</a>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>
