<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
    <hr />
    <h1>Welcome to IRunes</h1>
    <h3><a href="/login">Login</a> if you have an account.</h3>
    <h3><a href="/register">Register</a> if you don't.</h3>
<hr/>
<a href="/logout">Logout</a>
<footer>
    <p><strong>Copyright</strong> ....... All Rights Reserver</p>
</footer>
</body>
</html>