<h1 class="text-center text-success">Login</h1>
<form method="post" class="container">
    <hr style="height: 2px;" class="bg-success"/>
    <div class="form-group">
        <label for="exampleInputEmail1">Username/Email</label>
        <input type="text" name="username" required placeholder="Username / Email..." class="form-control bg-white" id="exampleInputEmail1"/>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" name="password" required placeholder="Password..." class="form-control bg-white" id="exampleInputPassword"/>
    </div>
    <div class="text-center">
        <input type="submit" value="Login" class="btn btn-success"/>
    </div>
</form>
