<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="Users/login">Login</a></li>
        <li><a href="/Users/Register">Register</a></li>
    </ul>
<hr />

<h1>Login</h1>
<form method="post">
    <div>
        Username/Email<input type="text" name="username" placeholder="username"/>
    </div>
    <div>
        Password<input type="password" name="password" placeholder="password"/>
    </div>
    <div>
        <input type="submit" value="Login"/>
    </div>
</form>
<footer>Copyright &copy; Sanity Design Studios. All rights reserved.</footer>

</body>
</html>