<h1 class="text-center text-success">Register</h1>
<form method="post" action="/Users/Register" class="container">
    <hr style="height: 2px;" class="bg-success" />
    <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input type="text" name="username" placeholder="Username..." required class="form-control bg-white" id="exampleInputUsername"/>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" name="password" required placeholder="Password..." class="form-control bg-white" id="exampleInputPassword"/>
    </div>
    <div class="form-group">
        <label for="exampleInputConfirmPassword">Confirm Password</label>
        <input type="password" name="confirmpassword" required placeholder="Confirtm Password..." class="form-control bg-white" id="exampleInputConfirmPassword"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" name="email" placeholder="Email..." class="form-control bg-white" id="exampleInputEmail"/>
    </div>
    <div class="text-center">
        <input type="submit" value="Register" class="btn btn-success"/>
    </div>
</form>