<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>IRunes</h1>
<ul>
    <li><a href="/">Home</a></li>    
    <li><a href="/Albums/All">Albums</a></li>
    <li><a href="/Users/Logout">Logout</a></li>
</ul>
<hr />
<div>
    <iframe height="200" width="200" src="{trackUrl}" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div>
    {name}
</div>
<div>
    {price}
</div>
<hr/>
<a href="/Albums/Details?id={albumid}">Back To Album</a>
<hr/>
<footer>Copyright &copy; Sanity Design Studios. All rights reserved.</footer>
</body>
</html>